@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Titillium+Web&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
}

:root {
    --color-primary: #F2F2F2;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #848bc82e;
    --color-primary-variant: #111e88;
    --color-secudary-variant: #7676FF;
    --color-dark-variant: #677483;
    --color-background: ##F2F2F2;
    --color-text: #000000;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    color: var(--color-dark);
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-text)
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-text);
}

/* Menu Principal */
#btnPerfil:hover {
    background-color: var(--color-secundary-variant);
    color: var(--color-info-light);
}

/* Carousel */
.carousel-item {
    margin: 46px auto 0px -10px;
    width: 1550px;
    padding: 10px;
    height: 70vh; 
}

/* Área de Postagem */
#enviarArquivo {
    transition: 0.5s ease;
}

#enviarArquivo:hover {
    box-shadow: none!important;
}

#nomeUsuario {
    text-decoration: none;
    color: var(--color-dark-variant);
    transition: 0.2s ease;
}

#nomeUsuario:hover {
    text-decoration: underline;
    color: var(--color-primary-variant);
}

#imgPerfilFeed {
    background-size: contain;
    background-repeat: no-repeat;

}

#tagAds {
    padding: 0;
    width: fit-content;
    opacity: 0.5;
}

.linkRecomedacoes {
    text-decoration: none!important;
    color: var(--color-dark);
}

.linkRecomedacoes:hover {
    text-decoration: underline!important;
    color: var(--color-dark);
}


@media screen and (max-width: 990px) {
    #areaLateral {
        display: none;
    }
}

.imgPerfilUsuario {
    width: 300px!important;
    height: 300px!important;
    background: var(--color-primary)!important;
}