body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

/* Menu Principal */
#btnPerfil:hover {
    background-color: rgb(118, 118, 255);
    color: white;
}

/* Área de Postagem */
#enviarArquivo {
    transition: 0.5s ease;
}

#enviarArquivo:hover {
    box-shadow: none!important;
}

#nomeUsuario {
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
}

#nomeUsuario:hover {
    text-decoration: underline;
    color: blue;
}

#imgPerfilFeed {
    background-size: contain;
    background-repeat: no-repeat;

}

#tagAds {
    padding: 0;
    width: fit-content;
    opacity: 0.5;
}

.linkRecomedacoes {
    text-decoration: none!important;
    color: black;
}

.linkRecomedacoes:hover {
    text-decoration: underline!important;
    color: blue;
}


@media screen and (max-width: 990px) {
    #areaLateral {
        display: none;
    }
};

.imgPerfilUsuario {
    width: 300px!important;
    height: 300px!important;
    background: white!important;
}